In [1]:
#import required libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt #visualisation 
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('population - Copy.csv')

In [3]:
df.head()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Other people in need of international protection,Stateless persons,Host Community,Others of concern
0,2000,Afghanistan,AFG,Afghanistan,AFG,0,0,758625,-,0,-,0
1,2000,Iraq,IRQ,Albania,ALB,9,0,0,-,0,-,0
2,2000,Serbia and Kosovo: S/RES/1244 (1999),SRB,Albania,ALB,507,5,0,-,0,-,0
3,2000,Türkiye,TUR,Albania,ALB,5,0,0,-,0,-,0
4,2000,Chad,TCD,Algeria,DZA,20,19,0,-,0,-,0

In [4]:
df.tail()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Other people in need of international protection,Stateless persons,Host Community,Others of concern
106909,2023,Venezuela (Bolivarian Republic of),VEN,Aruba,ABW,0,0,0,17000,0,0,0
106910,2023,Aruba,ABW,Aruba,ABW,0,0,0,-,0,1700,0
106911,2023,Venezuela (Bolivarian Republic of),VEN,Curacao,CUW,0,0,0,14000,0,0,0
106912,2023,Curacao,CUW,Curacao,CUW,0,0,0,-,0,1700,0
106913,2023,Venezuela (Bolivarian Republic of),VEN,Sint Maarten (Dutch part),SXM,0,131,0,-,0,0,0

In [5]:
df.shape

(106914, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106914 entries, 0 to 106913
Data columns (total 12 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Year                                              106914 non-null  int64
 1   Country of origin                                 106914 non-null  object
 2   Country of origin (ISO)                           106914 non-null  object
 3   Country of asylum                                 106914 non-null  object
 4   Country of asylum (ISO)                           106914 non-null  object
 5   Refugees under UNHCR's mandate                    106914 non-null  int64
 6   Asylum-seekers                                    106914 non-null  int64
 7   IDPs of concern to UNHCR                          106914 non-null  int64
 8   Other people in need of international protection  106914 non-null  object
 9   Stateless persons                                 106914 non-null  int64
 10  Host Community                                    106914 non-null  object
 11  Others of concern                                 106914 non-null  int64
dtypes: int64(6), object(6)
memory usage: 9.8+ MB

In [7]:
df.describe()

,Year,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Stateless persons,Others of concern
count,106914.000000,1.069140e+05,106914.000000,1.069140e+05,1.069140e+05,1.069140e+05
mean,2012.813757,3.351173e+03,482.675057,5.658718e+03,7.402674e+02,3.919891e+02
std,6.838744,5.189225e+04,6690.980769,1.394975e+05,2.573718e+04,1.905895e+04
min,2000.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,2007.000000,5.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
50%,2013.000000,1.400000e+01,7.000000,0.000000e+00,0.000000e+00,0.000000e+00
75%,2019.000000,1.010000e+02,46.000000,0.000000e+00,0.000000e+00,0.000000e+00
max,2023.000000,3.737369e+06,940668.000000,8.252788e+06,3.500000e+06,3.206577e+06

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106914 entries, 0 to 106913
Data columns (total 12 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Year                                              106914 non-null  int64
 1   Country of origin                                 106914 non-null  object
 2   Country of origin (ISO)                           106914 non-null  object
 3   Country of asylum                                 106914 non-null  object
 4   Country of asylum (ISO)                           106914 non-null  object
 5   Refugees under UNHCR's mandate                    106914 non-null  int64
 6   Asylum-seekers                                    106914 non-null  int64
 7   IDPs of concern to UNHCR                          106914 non-null  int64
 8   Other people in need of international protection  106914 non-null  object
 9   Stateless persons                                 106914 non-null  int64
 10  Host Community                                    106914 non-null  object
 11  Others of concern                                 106914 non-null  int64
dtypes: int64(6), object(6)
memory usage: 9.8+ MB

In [9]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (14, 12)

In [10]:
df = df.drop_duplicates()
df.head(10)

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Other people in need of international protection,Stateless persons,Host Community,Others of concern
0,2000,Afghanistan,AFG,Afghanistan,AFG,0,0,758625,-,0,-,0
1,2000,Iraq,IRQ,Albania,ALB,9,0,0,-,0,-,0
2,2000,Serbia and Kosovo: S/RES/1244 (1999),SRB,Albania,ALB,507,5,0,-,0,-,0
3,2000,Türkiye,TUR,Albania,ALB,5,0,0,-,0,-,0
4,2000,Chad,TCD,Algeria,DZA,20,19,0,-,0,-,0
5,2000,Cameroon,CMR,Algeria,DZA,5,0,0,-,0,-,0
6,2000,Congo,COG,Algeria,DZA,30,29,0,-,0,-,0
7,2000,Dem. Rep. of the Congo,COD,Algeria,DZA,202,159,0,-,0,-,0
8,2000,Palestinian,PSE,Algeria,DZA,4000,0,0,-,0,-,0
9,2000,Guinea,GIN,Algeria,DZA,35,35,0,-,0,-,0

In [11]:
df.tail()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Other people in need of international protection,Stateless persons,Host Community,Others of concern
106895,2023,Venezuela (Bolivarian Republic of),VEN,Aruba,ABW,0,0,0,17000,0,0,0
106896,2023,Aruba,ABW,Aruba,ABW,0,0,0,-,0,1700,0
106897,2023,Venezuela (Bolivarian Republic of),VEN,Curacao,CUW,0,0,0,14000,0,0,0
106898,2023,Curacao,CUW,Curacao,CUW,0,0,0,-,0,1700,0
106899,2023,Venezuela (Bolivarian Republic of),VEN,Sint Maarten (Dutch part),SXM,0,131,0,-,0,0,0

# Dealing with missing data in dataset

In [12]:
df.isnull().sum()

Year                                                0
Country of origin                                   0
Country of origin (ISO)                             0
Country of asylum                                   0
Country of asylum (ISO)                             0
Refugees under UNHCR's mandate                      0
Asylum-seekers                                      0
IDPs of concern to UNHCR                            0
Other people in need of international protection    0
Stateless persons                                   0
Host Community                                      0
Others of concern                                   0
dtype: int64

In [13]:
# a list with all missing value formats
missing_value_formats = ["n.a.","?","NA","n/a", "na", "--"]
df = pd.read_csv("population - Copy.csv", na_values = missing_value_formats)

# Some visuals of initial dataset

# Dealing with categorical data

In [14]:
#df['Country of origin'] = df['Country of origin'].astype('category')

In [15]:
#df['Country of origin'] = df['Country of origin'].cat.codes
#print (df['Country of origin'])

In [16]:
#le = LabelEncoder()
#df['Country of origin'] = le.fit_transform(df['Country of origin'])

In [17]:
print(df['Country of origin'])

0                                  Afghanistan
1                                         Iraq
2         Serbia and Kosovo: S/RES/1244 (1999)
3                                      Türkiye
4                                         Chad
                          ...
106909      Venezuela (Bolivarian Republic of)
106910                                   Aruba
106911      Venezuela (Bolivarian Republic of)
106912                                Curacao
106913      Venezuela (Bolivarian Republic of)
Name: Country of origin, Length: 106914, dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106914 entries, 0 to 106913
Data columns (total 12 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Year                                              106914 non-null  int64
 1   Country of origin                                 106914 non-null  object
 2   Country of origin (ISO)                           106914 non-null  object
 3   Country of asylum                                 106914 non-null  object
 4   Country of asylum (ISO)                           106914 non-null  object
 5   Refugees under UNHCR's mandate                    106914 non-null  int64
 6   Asylum-seekers                                    106914 non-null  int64
 7   IDPs of concern to UNHCR                          106914 non-null  int64
 8   Other people in need of international protection  106914 non-null  object
 9   Stateless persons                                 106914 non-null  int64
 10  Host Community                                    106914 non-null  object
 11  Others of concern                                 106914 non-null  int64
dtypes: int64(6), object(6)
memory usage: 9.8+ MB