In [1]:
#import required libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt #visualisation 
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:
# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

,Year,Country of origin,Country of asylum,Authority,Application type,Stage of procedure,Cases / Persons,applied
0,2018,Afghanistan,United Kingdom of Great Britain and Northern I...,G,A,AR,C,726
1,2018,Albania,United Kingdom of Great Britain and Northern I...,G,A,AR,C,486
2,2018,Algeria,United Kingdom of Great Britain and Northern I...,G,A,AR,C,79
3,2018,Angola,United Kingdom of Great Britain and Northern I...,G,A,AR,C,30
4,2018,Antigua and Barbuda,United Kingdom of Great Britain and Northern I...,G,A,AR,C,5

In [5]:
df.tail()

,Year,Country of origin,Country of asylum,Authority,Application type,Stage of procedure,Cases / Persons,applied
38836,2023,Viet Nam,Thailand,U,R,RA,P,25
38837,2024,Sudan,Egypt,U,R,RA,P,2271
38838,2024,South Sudan,Egypt,U,R,RA,P,8
38839,2024,Central African Rep.,Cameroon,U,R,RA,P,5
38840,2024,Sudan,Jordan,U,R,RA,P,5

In [6]:
df.shape

(38841, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38841 entries, 0 to 38840
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                38841 non-null  int64
 1   Country of origin   38841 non-null  object
 2   Country of asylum   38841 non-null  object
 3   Authority           38841 non-null  object
 4   Application type    38841 non-null  object
 5   Stage of procedure  38485 non-null  object
 6   Cases / Persons     38841 non-null  object
 7   applied             38841 non-null  int64
dtypes: int64(2), object(6)
memory usage: 2.4+ MB

In [8]:
df.describe()

               Year        applied
count  38841.000000   38841.000000
mean    2020.983497     416.512036
std        1.992884    3391.981853
min     2018.000000       5.000000
25%     2019.000000       6.000000
50%     2021.000000      19.000000
75%     2023.000000      93.000000
max     2024.000000  258636.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38841 entries, 0 to 38840
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                38841 non-null  int64
 1   Country of origin   38841 non-null  object
 2   Country of asylum   38841 non-null  object
 3   Authority           38841 non-null  object
 4   Application type    38841 non-null  object
 5   Stage of procedure  38485 non-null  object
 6   Cases / Persons     38841 non-null  object
 7   applied             38841 non-null  int64
dtypes: int64(2), object(6)
memory usage: 2.4+ MB

In [10]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 8)

In [11]:
df = df.drop_duplicates()
df.head(10)

,Year,Country of origin,Country of asylum,Authority,Application type,Stage of procedure,Cases / Persons,applied
0,2018,Afghanistan,United Kingdom of Great Britain and Northern I...,G,A,AR,C,726
1,2018,Albania,United Kingdom of Great Britain and Northern I...,G,A,AR,C,486
2,2018,Algeria,United Kingdom of Great Britain and Northern I...,G,A,AR,C,79
3,2018,Angola,United Kingdom of Great Britain and Northern I...,G,A,AR,C,30
4,2018,Antigua and Barbuda,United Kingdom of Great Britain and Northern I...,G,A,AR,C,5
5,2018,Egypt,United Kingdom of Great Britain and Northern I...,G,A,AR,C,209
6,2018,Armenia,United Kingdom of Great Britain and Northern I...,G,A,AR,C,19
7,2018,Azerbaijan,United Kingdom of Great Britain and Northern I...,G,A,AR,C,25
8,2018,Bahrain,United Kingdom of Great Britain and Northern I...,G,A,AR,C,7
9,2018,Barbados,United Kingdom of Great Britain and Northern I...,G,A,AR,C,6

In [12]:
df.tail()

,Year,Country of origin,Country of asylum,Authority,Application type,Stage of procedure,Cases / Persons,applied
38836,2023,Viet Nam,Thailand,U,R,RA,P,25
38837,2024,Sudan,Egypt,U,R,RA,P,2271
38838,2024,South Sudan,Egypt,U,R,RA,P,8
38839,2024,Central African Rep.,Cameroon,U,R,RA,P,5
38840,2024,Sudan,Jordan,U,R,RA,P,5

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38841 entries, 0 to 38840
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                38841 non-null  int64
 1   Country of origin   38841 non-null  object
 2   Country of asylum   38841 non-null  object
 3   Authority           38841 non-null  object
 4   Application type    38841 non-null  object
 5   Stage of procedure  38485 non-null  object
 6   Cases / Persons     38841 non-null  object
 7   applied             38841 non-null  int64
dtypes: int64(2), object(6)
memory usage: 2.4+ MB

# Dealing with missing data in dataset

In [14]:
df.isnull().sum()

Year                    0
Country of origin       0
Country of asylum       0
Authority               0
Application type        0
Stage of procedure    356
Cases / Persons         0
applied                 0
dtype: int64

In [15]:
# a list with all missing value formats
missing_value_formats = ["n.a.","?","NA","n/a","na"," ","--","nan","UnKnown","Na","unknown"]
df= pd.read_csv("data.csv", na_values = missing_value_formats)

FileNotFoundError: [Errno 2] No such file or directory: 'asylum-applications.csv'

In [ ]:
df = df.dropna(axis = 1, how ='all')

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df = df[df['Stage of procedure'] != ' ']

In [ ]:
df = df[df['Stage of procedure'] != 'nan']

In [ ]:
df.isnull().sum()

# Some visuals of initial dataset

In [ ]:
sns.displot(df["Stage of procedure"])

In [ ]:
sns.boxplot(x=df["applied"])

In [ ]:
fig, ax = plt.subplots(figsize=(20,10))
ax.scatter(df["Country of asylum"], df["Country of origin"])
ax.set_xlabel("Country of Asylum")
ax.set_ylabel("Country of origin")
plt.show()

# Data Preperation

In [ ]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
label_encoder = preprocessing.LabelEncoder()

In [ ]:
df = df.apply(le.fit_transform)

In [ ]:
df.isnull().sum()

# Modelling and Evaluation

In [ ]:
# Importing train-test-split 
from sklearn.model_selection import train_test_split

In [ ]:
# Putting feature variable to X
X = df.drop('applied',axis=1)

# Putting response variable to y
y = df['applied']

In [ ]:
# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.30, 
                                                    random_state = 99)
X_train.head()

In [ ]:
# Importing decision tree classifier from sklearn library
from sklearn.tree import DecisionTreeClassifier

# Fitting the decision tree with default hyperparameters, apart from
# max_depth which is 5 so that we can plot and read the tree.
dt_default = DecisionTreeClassifier(max_depth=5)
dt_default.fit(X_train, y_train)

In [ ]:
# Let's check the evaluation metrics of our default model

# Importing classification report and confusion matrix from sklearn metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# Making predictions
y_pred_default = dt_default.predict(X_test)

# Printing classification report
print(classification_report(y_test, y_pred_default))

In [ ]:
# Printing confusion matrix and accuracy
print(confusion_matrix(y_test,y_pred_default))
print(accuracy_score(y_test,y_pred_default))

In [ ]:
import matplotlib.pyplot as plt     
from sklearn import tree

# Set the size of the figure
plt.figure(figsize = (12, 8))

# Display the tree by calling a method plot_tree()
tree.plot_tree(dt_default)

In [ ]:
from sklearn.model_selection import GridSearchCV

# Create the parameter grid 
param_grid = {
    'max_depth': range(5, 15, 2),
    'criterion': ["entropy", "gini"]
}

n_folds = 5

# Instantiate the grid search model
dtree = DecisionTreeClassifier()
grid_search = GridSearchCV(estimator = dtree, param_grid = param_grid, 
                          cv = n_folds, verbose = 1)

# Fit the grid search to the data
grid_search.fit(X_train,y_train)

In [ ]:
# cv results
cv_results = pd.DataFrame(grid_search.cv_results_)
cv_results

In [ ]:
# printing the optimal accuracy score and hyperparameters
print("best accuracy", grid_search.best_score_)
print(grid_search.best_estimator_)

In [ ]:
# Find the highest accuracy value
cv_results['mean_test_score'].max()

# The depth of the tree is 9 for this accuracy

In [ ]:
# cv results
cv_results = pd.DataFrame(grid_search.cv_results_)
cv_results

In [ ]:
# model with optimal hyperparameters
clf_gini = DecisionTreeClassifier(criterion = "gini", 
                                  random_state = 100,
                                  max_depth=9)
clf_gini.fit(X_train, y_train)

In [ ]:
# accuracy score
clf_gini.score(X_test,y_test)

In [ ]:
# accuracy score
clf_gini.score(X_test,y_test)

In [ ]:
import matplotlib.pyplot as plt
from sklearn import tree

# Set the size of the figure
plt.figure(figsize = (12, 8))

# Display the tree by calling a method plot_tree()
tree.plot_tree(clf_gini)

In [ ]:
# tree with max_depth = 3
clf_gini = DecisionTreeClassifier(criterion = "gini", 
                                  random_state = 100,
                                  max_depth=3)
clf_gini.fit(X_train, y_train)

# score
print(clf_gini.score(X_test,y_test))

In [ ]:
import matplotlib.pyplot as plt
from sklearn import tree

# Set the size of the figure
plt.figure(figsize = (12, 8))

# Display the tree by calling a method plot_tree()
tree.plot_tree(clf_gini)

In [ ]:
# classification metrics
from sklearn.metrics import classification_report,confusion_matrix
y_pred = clf_gini.predict(X_test)
print(classification_report(y_test, y_pred))

In [ ]:
# confusion matrix
print(confusion_matrix(y_test,y_pred))

In [ ]:
df.isnull().sum()

In [ ]:
df["Stage of procedure"].unique()

<p>I am going to look at the stage of procedure which basically means the application status</p>

In [ ]:
# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.30, 
                                                    random_state = 99)
X_train.head()

In [ ]:
scaler= StandardScaler()
X_scaled=scaler.fit_transform(df)
# Optionally, reduce dimensionality for visualization
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X_scaled)

In [ ]:
#setting up the parameter grif for the tuning purposes
param_grid={
    'n_clusters':[2,3,4,5,6,7,8],
    'init':['k-means++','random'],
    'n_init':[10,20],
    'max_iter':[100,300]
}

In [ ]:
#Inialising the KMeans
kmeans= KMeans(random_state=42)

# Use GridSearchCV to find the best parameters
grid_search = GridSearchCV(estimator=kmeans, param_grid=param_grid, cv=3, n_jobs=-1)
grid_search.fit(X_scaled)

# Best hyperparameters
best_params = grid_search.best_params_
print("Best hyperparameters found by GridSearchCV:", best_params)

In [ ]:
# Apply the best KMeans model with optimal hyperparameters
best_kmeans = grid_search.best_estimator_

# Fit the model
best_kmeans.fit(X_scaled)

# Predict the cluster labels
labels = best_kmeans.predict(X_scaled)

# Visualization: Plot the first two principal components and color by cluster labels
plt.figure(figsize=(8, 6))
sns.scatterplot(x=X_pca[:, 0], y=X_pca[:, 1], hue=labels, palette="deep", s=100, alpha=0.7)
plt.title(f"KMeans Clustering with {best_params['n_clusters']} Clusters")
plt.xlabel("Principal Component 1")
plt.ylabel("Principal Component 2")
plt.legend(title="Cluster", loc="best")
plt.show()

In [ ]:
from sklearn.metrics import silhouette_score

# Compute the silhouette score
sil_score = silhouette_score(X_scaled, labels)
print(f"Silhouette Score: {sil_score:.3f}")

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state = 42)

In [ ]:
#Hyperparameter Tuning along with GridSearchCV
#We need to define the parameter grid for k values and the distance metrics
param_grid={
    'n_neighbors': range(1,11), # This is to test k from 1 to 10
    'metric':['euclidean','manhattan','minkowski']
    
}

In [ ]:
#We are using GridSearchCV in order to find the best hyperoarameters
knn= KNeighborsClassifier()
grid_search=GridSearchCV(knn,param_grid,cv=5, scoring='accuracy')
grid_search.fit(X_train,y_train)

In [ ]:
#Getting the best model
best_knn=grid_search.best_estimator_
print("Best Parameters:",grid_search.best_params_)

In [ ]:
#Training and evaluating the KNN model wit the hyperparameters optimized
y_pred=best_knn.predict(X_test)
accuracy=accuracy_score(y_test,y_pred)
print ("Accuracy:",accuracy)
print(classification_report(y_test,y_pred))

In [ ]:
#Confusion Matrix to gain better insight
confusion_matrix=confusion_matrix(y_test,y_pred)
sns.heatmap(confusion_matrix,annot=True,cmap='Blues',fmt='g')
plt.title('Confusion Matrix')
plt.xlabel('Predicted Label')
plt.ylabel('True Label')
plt.show()

In [ ]:
#Visualize the data structures and reduce the dimensions with PCA for visualising
pca=PCA(n_components=2)
X_train_2D=pca.fit_transform(X_train)
X_test_2D=pca.transform(X_test)

In [ ]:
# Plot training data clusters
plt.figure(figsize=(12, 6))
sns.scatterplot(x=X_train_2D[:, 0], y=X_train_2D[:, 1], hue=y_train, palette="viridis", style=y_train)
plt.title("Training Data Clusters (High vs Low Applications)")
plt.xlabel("PCA Component 1")
plt.ylabel("PCA Component 2")
plt.show()

In [ ]:
# Plot test data and predictions
plt.figure(figsize=(12, 6))
sns.scatterplot(x=X_test_2D[:, 0], y=X_test_2D[:, 1], hue=y_pred, palette="viridis", style=y_test)
plt.title("Test Data with KNN Predictions (High vs Low Applications)")
plt.xlabel("PCA Component 1")
plt.ylabel("PCA Component 2")
plt.show()